/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: rgb(17, 241, 25);
}
#yaziyor {
  
              width: 0ch;
              color: rgb(0, 0, 0);
              float: left;
              font-family: sans-serif;
              font-weight:bold;
              font-size: 60px;
              overflow: hidden;
              white-space: nowrap;
              animation: yaziyor 5s steps(22) 1s infinite alternate;
          }
          #yaziyor span{
          color:red;}
  
          #imlec {
              float: left;
  
        color: rgb(85, 12, 12);
              font-family: consolas;
              font-weight:bold;
              font-size: 60px;
              animation: imlec 0.5s linear 0s infinite;
          }
          @keyframes yaziyor {
              from {
                  width: 0ch;
              }
              to {
                  width: 25ch;
              }
          }
          @keyframes imlec {
              from {
                  opacity: 0;
              }
              to {
                  opacity: 1;
              }
          }

.enginar {
    border: none;
    color: rgb(255, 38, 0);
    background-color: #0094f7;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid #0094f7;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
}
 
.enginar:hover {
    color: rgb(255, 38, 0);
    background-color: rgb(255, 38, 0);
    border: 2px solid #ffffff;
}
